# Configuración de la base de datos de la WebApp (PostgreSQL)
DATABASE_URL=postgresql://webapp_user:webapp_pass@db_webapp:5432/webapp_db

# URL de la API FastAPI externa
API_URL=http://api_service:8000

# Clave secreta para la sesión de Flask
SECRET_KEY=ejemplo_clave_secreta_para_produccion_academica
